html{
    background-color: white;
    margin: 0;
    width: 100%;
    } 

body{

    /*fonts*/  
        --main-font: "Didact Gothic";
        --secondary-font: "Cinzel Decorative";
        --third-font: "Castoro Titling"
   
    /* font-size-headings */
        --font-size-xxl: 96px;
        --font-size-xl: 64px;
        --font-size-l: 48px;
        --font-size-m: 32px;
        --font-size-s: 24px;
        --font-size-xs: 16px;
    
    /*colors*/
        --standard-color: #fffbf4;
        --second-color: #565499;
        --third-color: #e5e1dc;
        --text-color: #11120D;
        
        margin: 0;
        background-color: #FFFBF4;
    

}

.header{
    position: sticky;
    top: 0;
    background-color: #565449;
    height: 35px;
    margin: 0px;
    display: grid;
    align-items: center;
    justify-content: center;      
}

.header-tekst{
    margin: 0;
    font-family: var(--main-font);
    font-size: var(--font-size-xs);
    color: #FFFBF4; 
}

.p1{
    font-family: var(--main-font);
    font-size: var(--font-size-s);
    text-align: justify;
    padding: 16px;
}

.h{
    font-family: var(--main-font);
    font-size: var(--font-size-s);
    margin: 0;
    padding: 6rem;
    display: grid;
    justify-content: center;
   
}

a:hover{
    justify-content: center;
    animation-name: vergroten;
    animation-duration: 1s;
}

@keyframes vergroten{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

#sprint-1{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-m);
    border-bottom: solid 3px #11120D;
    
}
#sprint-2{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-m);
    border-bottom: solid 3px #11120D;
    
}  
#sprint-3{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-m);
    border-bottom: solid 3px #11120D;
    
}  
#sprint-4{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-m);
    border-bottom: solid 3px #11120D;
    
}  
#sprint-5{
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-m);
    border-bottom: solid 3px #11120D;
    
}      
    