html{
    background-color: white;
    margin: 0;
    width: 100%;
    } 

body{

        --main-font: "Didact Gothic";
        --secondary-font: "Cinzel Decorative";
        --third-font: "Castoro Titling"
   
   /* font-size-headings */
       
        --font-size-xxl: 96px;
        --font-size-xl: 64px;
        --font-size-l: 48px;
        --font-size-m: 32px;
        --font-size-s: 24px;
        --font-size-xs: 16px;
    
        
        margin: 0;
        background-color: #FFFBF4;
    

}

/*mobile first*/

.header{
    position: sticky;
    top: 0;
    background-color: #565449;
    height: 35px;
    margin: 0px;
    display: grid;
    align-items: center;
    justify-content: center;      
}

.header-tekst{
    font-family: var(--main-font);
    font-size: var(--font-size-xs);
    color: #FFFBF4; 
}


.header-bottom{
    background-color: #e5e1dc;
    margin: 0px;
    display: grid;
}
/*burgermenu

.menu-btn {
    padding-right: 32px;
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn .bar {
	width: 30px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
  border-radius: 4px;
	transform: translate(-50%, -50%);
	background-color: #565449;
	transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-of-type(2) {
	top: calc(50% - 9px);
}
.menu-btn .bar:nth-of-type(3) {
	top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-of-type(1) {
  display: none;
}
.menu-btn.active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
  background: #FFEFBA;
	transform: translateX(100%);
	transition: transform 0.5s; 
}

.nav.active {
	transform: translateX(0);
}

.nav .nav__list_item {
	list-style-type: none;
}



.navbar{
    display: flex;
    align-items: center;
    
}
*/

.nav__list{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding: 32px;
    
}

a{
    font-family: "Didact Gothic";
    text-decoration: none;
    font-size: var(--font-size-m);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}

p:nth-child(1){
    margin: 0;
    font-family: "Didact Gothic";
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #FFFBF4;
}


a:nth-child(2){
    font-family: "Didact Gothic";
    text-decoration: none;
    font-size: var(--font-size-m);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}



a:nth-of-type(1):hover{
    animation-name: vergroting;
    animation-duration: 1s;
    animation-iteration-count: 1;
    
}

a:nth-of-type(2):hover{
    animation-name: vergroting;
    animation-duration: 1s;
    animation-iteration-count: 1;
    
}

@keyframes vergroting{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }

.img{
    display: flex;
    justify-content: center;
    padding-bottom: 50px; 
}

.mugshot{
    margin: 0;
    width: 75%;
}


.article1{
    display: grid;
    justify-content: center;
    justify-items: start;
    padding: 0px 32px 0px 32px;
}

.h3{
    font-family: "Castoro Titling";
    font-size: var(--font-size-m);
    color: #11120D;
    margin: 0;
    padding-top: 32px;
}

#article1-p{
    margin: 0;
    font-family: var(--secondary-font);
    font-size: var(--font-size-xs);
    padding: 8px 0 8px 0;
}

.ph3{
    font-family: "Didact Gothic";
    font-size: var(--font-size-xs);
    color: #11120D;  
    text-align: justify;
    margin: 0;
}

.article2{
    margin: 0;
    padding: 0px 32px 32px 32px;
    display: grid;
    justify-items: start;
}

.h4{
    margin: 0;
    padding-top: 32px;
    font-family: "Castoro Titling";
    font-size: var(--font-size-m);
    color: #11120D;
}

.FDND-p{
    margin: 0;
    font-family: var(--main-font);
    font-size: var(--font-size-xs);
    color: #11120D;
    text-align: justify;
}

a:nth-of-type(3){
    font-family: "Didact Gothic";
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}

a:nth-child(4){
    font-family: "Didact Gothic";
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}

a:nth-child(5){
    font-family: "Didact Gothic";
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}
a:nth-child(6){
    font-family: "Didact Gothic";
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}
a:nth-child(7){
    font-family: "Didact Gothic";
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}

.insta{
    font-family: "Didact Gothic";
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}

#facebook{
    font-family: "Didact Gothic";
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}

.footer{
    display: flex;
    align-items: baseline;
    border-top: solid 1px #11120D;
}
    
.socials{
    display: grid;
    padding: 8px 16px 16px 16px;
    border-right: solid 1px #11120D;
}

.adres{
    height: 100%; 
}

.adres-ul{
    display: grid;
    justify-items: start;
    margin: 0;
    padding-left: 16px;
}

li:nth-of-type(1){
    font-family: "Didact Gothic";
    list-style-type: none;
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}

li:nth-of-type(2){
    font-family: "Didact Gothic";
    list-style-type: none;
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}

li:nth-of-type(3){
    font-family: "Didact Gothic";
    list-style-type: none;
    text-decoration: none;
    font-size: var(--font-size-xs);
    color: #11120D;
    text-decoration: underline;
    text-underline-position: under;
}

