html{
    background-color: white;
    margin: 0;
    } 

body{

    --main-font: "Didact Gothic";
        --secondary-font: "Martian Mono";
   
   /* font-size-headings */
       
        --font-size-xxl: 96px;
        --font-size-xl: 64px;
        --font-size-l: 48px;
        --font-size-m: 32px;
        --font-size-s: 24px;
        --font-size-xs: 16px;
    
        min-width: 320px;
        grid-column: 4;
        margin: 0;
        background-color: rgb(255, 243, 227);
    

}

/*mobile first*/

.header{
    min-width: 300px;
    background-color: #83715e;
    border-bottom: solid 5px rgb(73, 54, 29);
    margin: 0px;
    display: flex;
    align-items: center;     
}

.burgermenu{
    background-color: rgb(0, 0, 0);
    border: none;
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    align-items: center;
    
}

.nav-items{
    list-style-type: none;
    display: flex;
    gap: 148px;
    padding-left: 180px;
}

.nav-list{
    font-family: "Didact Gothic";
    color: black;
    text-decoration: none;
    font-size: 32px;
    color: rgb(255, 243, 227)
    
    
}

.mugshot{
    margin: 16px;
    width: 75px;
    border-radius: 10%;
    border: solid 3px rgb(73, 54, 29);
    
}

.images{
    background-color: #83715e;
    width: 350px;
    margin: 16px;
}

.image{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 24px;
    width: 300px;
    border: solid 1px rgb(255, 243, 227);
    border-radius: 5%;
}

.article1{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 32px;
   
    
    padding: 16px;
    
    
}

.h1{
    font-family: "Didact Gothic";
    font-size: var(--font-size-m);
    color: #83715e;
}

.ph1{
    font-family: "Didact Gothic";
    font-size: var(--font-size-xs);
    color: #83715e;
    
}

.onderpagina{
    display: grid;
    justify-content: center;
    
    
}

.FDND{
    font-family: "Didact Gothic";
    color: rgb(255, 243, 227);
    text-decoration: none;
    font-size: var(--font-size-xs);
    background-color: #83715e;

}

.FDND-article{
    margin: 0;
    padding: 32px;
}

.h2{
    margin: 0;
    padding-top: 8px;
    padding-left: 8px;
}

.FDND-p{
    margin: 0;
    padding: 8px;
}



