html{
    background-color: white;
    margin: 0;
    } 

body{
    font-family: "Archivo", Arial, Arial, Helvetica, sans-serif;
        min-width: 320px;
        grid-column: 4;
        margin: 0;
    

}

.mugshot{
    margin: 16px;
    width: 100px;
    
}

